---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import GitHubIcon from "../icons/GitHub.astro";
import GitLabIcon from "../icons/GitLab.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import SocialMediaPill from "../components/SocialMediaPill.astro";

import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Section from "../components/Section.astro";
import ExperienceIcon from "../icons/Experience.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";

import ProjectsIcon from "../icons/Projects.astro";
import AboutIcon from "../icons/About.astro";
import ContactIcon from "../icons/Contact.astro";
import InstagramIcon from "../icons/Instagram.astro";
---

<Layout
  title="Diana Henao's Portfolio - QA Analyst & Technical Product Professional"
  description="QA Analyst and Technical Product professional with a strong technical foundation, hands-on experience fixing bugs, and growing skills in development and data. Focused on system reliability, quality, and continuous improvement."
>
  <main class="px-4">
    <Section id="top">
      <Hero />
    </Section>

    <Section id="about">
      <h2 class="text-3xl font-semibold mb-10 flex gap-x-2 items-center">
        <AboutIcon class="size-9" />
        About
      </h2>
      <About />
    </Section>

    <Section id="experience">
      <h2 class="text-3xl font-semibold mb-10 flex gap-x-2 items-center">
        <ExperienceIcon class="size-9" />
        Experience
      </h2>
      <Experience />
    </Section>

    <Section id="projects">
      <h2 class="text-3xl font-semibold mb-10 flex gap-x-2 items-center">
        <ProjectsIcon class="size-9" />
        Projects
      </h2>
      <Projects />
    </Section>

    <Section id="contact">
      <h2 class="text-3xl font-semibold mb-10 flex gap-x-2 items-center">
        <ContactIcon class="size-9" />
        Contact
      </h2>
      <Contact />
    </Section>
  </main>
</Layout>
