---
import ExperienceItem from "./ExperienceItem.astro";
import { Experience as experiences } from "../data/experience";
---

<ol class="relative border-s border-default ml-4">
  {
    experiences.map((experience) => (
      <li class="mb-15 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
