<a
  href={Astro.props.href}
  target="_blank"
  rel="noopener"
  class="rounded-full border border-blue-queen-of-the-night flex justify-center items-center gap-x-2 py-1 px-4 bg-blue-river text-blue-queen-of-the-night hover:scale-105 hover:bg-blue-river/50 transition"
>
  <slot />
</a>
